In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox

In [2]:
df = pd.read_csv('energy.csv')

In [3]:
df.isna().sum()

Unnamed: 0                         0
Country                            0
Energy_type                        0
Year                               0
Energy_consumption             11153
Energy_production              11151
GDP                            15414
Population                      9426
Energy_intensity_per_capita     5082
Energy_intensity_by_GDP         5082
CO2_emission                    3826
dtype: int64

In [4]:
df['Country'].nunique()

231

In [5]:
df['Country'].unique()

array(['World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Angola', 'Antarctica', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burma', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo-Brazzaville',
       'Congo-Kinshasa', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Côte d’Ivoire', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands', 'Faroe Islands',
       'Fiji', 'Finland', 'Former Czechoslovakia',
       'Former Serbia and Montenegro', 'Former U.S.S.R.',
       'Former Yugoslavia', 'France', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Germany, East',
       'Germany, West', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Hawaiian Trade Zone',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macau',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia',
       'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Korea',
       'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Oman',
       'Pakistan', 'Palestinian Territories', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent/Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'The Bahamas', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'U.S. Pacific Islands',
       'U.S. Territories', 'U.S. Virgin Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wake Island', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [6]:
df.isna().sum()

Unnamed: 0                         0
Country                            0
Energy_type                        0
Year                               0
Energy_consumption             11153
Energy_production              11151
GDP                            15414
Population                      9426
Energy_intensity_per_capita     5082
Energy_intensity_by_GDP         5082
CO2_emission                    3826
dtype: int64

In [7]:
df['Energy_type'].unique()

array(['all_energy_types', 'coal', 'natural_gas',
       'petroleum_n_other_liquids', 'nuclear', 'renewables_n_other'],
      dtype=object)

In [8]:
bf_1990= df['Year']<=1991

In [9]:
bf_1990

0         True
1         True
2         True
3         True
4         True
         ...
55435    False
55436    False
55437    False
55438    False
55439    False
Name: Year, Length: 55440, dtype: bool

In [10]:
before_1990=df[bf_1990]

In [11]:
before_1990

,Unnamed: 0,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547000,4946.627130
1,1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547000,1409.790188
2,2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547000,1081.593377
3,3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547000,2455.243565
4,4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
16627,16627,Zimbabwe,coal,1991,0.122753,0.138752,19.276400,1.068100e+04,20.011375,11.088247,11.547326
16628,16628,Zimbabwe,natural_gas,1991,0.000000,0.000000,19.276400,1.068100e+04,20.011375,11.088247,0.000000
16629,16629,Zimbabwe,petroleum_n_other_liquids,1991,0.048770,0.000000,19.276400,1.068100e+04,20.011375,11.088247,3.000000
16630,16630,Zimbabwe,nuclear,1991,NaN,NaN,19.276400,1.068100e+04,20.011375,11.088247,0.000000
16631,16631,Zimbabwe,renewables_n_other,1991,0.042219,0.037588,19.276400,1.068100e+04,20.011375,11.088247,0.000000

In [12]:
before_1990.isna().sum()

Unnamed: 0                         0
Country                            0
Energy_type                        0
Year                               0
Energy_consumption              4332
Energy_production               4332
GDP                            10140
Population                      4386
Energy_intensity_per_capita     2652
Energy_intensity_by_GDP         2652
CO2_emission                    2438
dtype: int64

In [13]:
before_1990['Country'].unique()

array(['World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Angola', 'Antarctica', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burma', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo-Brazzaville',
       'Congo-Kinshasa', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Côte d’Ivoire', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands', 'Faroe Islands',
       'Fiji', 'Finland', 'Former Czechoslovakia',
       'Former Serbia and Montenegro', 'Former U.S.S.R.',
       'Former Yugoslavia', 'France', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Germany, East',
       'Germany, West', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Hawaiian Trade Zone',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macau',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia',
       'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Korea',
       'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Oman',
       'Pakistan', 'Palestinian Territories', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent/Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'The Bahamas', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'U.S. Pacific Islands',
       'U.S. Territories', 'U.S. Virgin Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wake Island', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55440 entries, 0 to 55439
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   55440 non-null  int64
 1   Country                      55440 non-null  object
 2   Energy_type                  55440 non-null  object
 3   Year                         55440 non-null  int64
 4   Energy_consumption           44287 non-null  float64
 5   Energy_production            44289 non-null  float64
 6   GDP                          40026 non-null  float64
 7   Population                   46014 non-null  float64
 8   Energy_intensity_per_capita  50358 non-null  float64
 9   Energy_intensity_by_GDP      50358 non-null  float64
 10  CO2_emission                 51614 non-null  float64
dtypes: float64(7), int64(2), object(2)
memory usage: 4.7+ MB

In [15]:
def df_clean_region(i):
    if i == 'U.S. Pacific Islands' or i =='U.S. Territories' or i =='U.S. Pacific Islands' or i=='United States' or i=='U.S. Virgin Islands' or i=='American Samoa' or i=='Guam'or i=='Puerto Rico' or i=='Hawaiian Trade Zone' or i=='Northern Mariana Islands' or i=='Wake Island':
        return 'USA and territories'
    else:
        return i

In [16]:
df['region']= list(map(df_clean_region, df['Country']))

In [17]:
def oceania(i):
    if i=='Australia' or i=='Papua New Guinea' or i=='New Zealand' or i=='Fiji' or i=='Solomon Islands' or i=='Micronesia' or i=='Vanuatu' or i=='Samoa' or i=='Kiribati' or i=='Tonga' or i=='Tuvalu' or i=='Nauru'or i=='Cook Islands' or i=='Niue':
        return 'Oceania'
    else:
        return i

In [18]:
df['region']= list(map(oceania, df['region']))

In [19]:
def latin_america(i):
    if i=='Brazil' or i=='Mexico' or i=='Colombia' or i=='Argentina' or i=='Peru' or i=='Venezuela' or i=='Chile' or i=='Guatemala' or i=='Ecuador' or i=='Bolivia' or i=='Haiti'or i=='Cuba' or i=='Dominican Republic' or i=='Honduras' or i=='Paraguay' or i=='Nicaragua' or i=='El Salvador' or i=='Costa Rica' or i=='Panama' or i=='Uruguay' or i=='Jamaica' or i=='Trinidad and Tobago' or i=='Guyana' or i=='Suriname' or i=='Belize' or i=='The Bahamas' or i=='Barbados' or i=='Saint Lucia' or i=='Grenada' or i=='Saint Vincent/Grenadines' or i=='Antigua and Barbuda' or i=='Dominica' or i=='Saint Kitts and Nevis':
        return "Latin America"
    else:
        return i

In [20]:
df['region'] = list(map(latin_america, df['region']))

In [21]:
def arab_world(i):
    if i=='Algeria' or i=='Bahrain' or i=='Comoros' or i=='Djibouti' or i=='Egypt' or i=='Iraq' or i=='Jordan' or i=='Kuwait' or i=='Lebanon' or i=='Libya' or i=='Morocco' or i=='Mauritania' or i=='Oman' or i=='Palestine' or i=='Qatar' or i=='Saudi Arabia' or i=='Somalia' or i=='Sudan' or i=='Syria' or i=='Tunisia' or i=='United Arab Emirates' or i=='Yemen' or i=='Afghanistan' or i=='Western Sahara':
        return 'Arab contries'
    else:
        return i

In [22]:
df['region'] = list(map(arab_world, df['region']))

In [23]:
def df_clean_Africa(i):
    if i == 'Angola' or i == 'Botswana' or i == 'Burkina Faso' or i == 'Cabo Verde' or i == 'Cameroon' or i == 'Central African Republic' or i == 'Chad' or i == 'Congo-Brazzaville' or i == 'Congo-Kinshasa' or i == 'Côte d’Ivoire' or i == 'Equatorial Guinea' or i == 'Eritrea' or i == 'Eswatini' or i == 'Ethiopia' or i == 'Gabon' or i == 'Gambia, The' or i == 'Ghana' or i == 'Guinea' or i == 'Guinea-Bissau' or i == 'Kenya' or i == 'Lesotho' or i == 'Liberia' or i == 'Madagascar' or i == 'Malawi' or i == 'Mali' or i == 'Mauritius' or i == 'Mozambique' or i == 'Namibia' or i == 'Niger' or i == 'Nigeria' or i == 'Papua New Guinea' or i == 'Rwanda' or i == 'Senegal' or i == 'Sierra Leone' or i == 'South Africa' or i == 'Tanzania' or i == 'Togo' or i == 'Tonga'  or i == 'Uganda' or i == 'Zambia' or i == 'Zimbabwe' or i=='Benin' or i=='Burundi' or i=='Sao Tome and Principe' or i=='Seychelles' or i=='South Sudan':
        return 'Africa'
    else:
        return i

In [24]:
df['region']= list(map(df_clean_Africa, df['region']))

In [25]:
def asia(i):
    if i=='Bangladesh' or i=='Bhutan' or i=='Brunei' or i=='Burma' or i=='Bhutan' or i=='Brunei' or i=='Cambodia' or i=='China' or i=='Hong Kong' or i=='India'or i=='Indonesia' or i=='Iran' or i=='Israel' or i=='Japan' or i=='Kazakhstan' or i=='Kyrgyzstan' or i=='Laos' or i=='Macau' or i=='Malaysia' or i=='Maldives' or i=='Mongolia' or i=='Nepal' or i=='North Korea' or i=='Pakistan' or i=='Palestinian Territories'or i=='Philippines' or i=='Singapore' or i=='South Korea' or i=='Sri Lanka' or i=='Taiwan' or i=='Tajikistan' or i=='Thailand' or i=='Timor-Leste' or i=='Turkmenistan' or i=='Uzbekistan' or i=='Vietnam':
        return 'Asia'
    else:
        return i

In [26]:
df['region'] = list(map(asia, df['region']))

In [27]:
## all countries from the EU + UK (and territories)
def west_europe(i):
    if i == 'Aruba' or i == 'Austria' or i == 'Belgium' or i == 'British Virgin Islands' or i == 'Denmark' or i == 'Faroe Islands' or i == 'Finland' or i == 'France' or i == 'French Guiana' or i == 'French Polynesia' or i == 'Germany' or i == 'Germany, East' or i == 'Germany, West' or i == 'Gibraltar' or i == 'Greenland' or i == 'Guadeloupe' or i == 'Iceland' or i == 'Italy' or i == 'Luxembourg' or i == 'Malta' or i == 'Martinique' or i == 'Montserrat' or i == 'Netherlands' or i == 'Netherlands Antilles' or i == 'New Caledonia' or i == 'Norway' or i == 'Saint Pierre and Miquelon' or i == 'Spain' or i == 'Portugal' or i == 'Reunion' or i == 'Saint Helena' or i == 'Sweden' or i == 'Switzerland' or i == 'United Kingdom' or i=='Bermuda' or i=='Falkland Islands' or i=='Turks and Caicos Islands' or i=='Greece' or i=='Cayman Islands' or i=='Cyprus' or i=='Ireland':
        return 'Western Europe'
    else:
        return i

In [28]:
df['region'] = list(map(west_europe, df['region']))

In [29]:
def eastern_europe(i):
    if i== 'Albania' or i=='Armenia' or i=='Azerbaijan' or i=='Belarus' or i=='Bosnia and Herzegovina' or i=='Bulgaria' or i=='Croatia' or i=='Czech Republic' or i=='Estonia' or i=='Former Czechoslovakia' or i=='Former Serbia and Montenegro' or i=='Former U.S.S.R.' or i=='Former Yugoslavia' or i=='Georgia' or i=='Hungary' or i=='Kosovo' or i=='Latvia' or i=='Lithuania' or i=='Moldova' or i=='Montenegro' or i=='North Macedonia' or i=='Poland' or i=='Romania' or i=='Russia' or i=='Serbia' or i=='Slovakia' or i=='Slovenia' or i=='Turkey' or i=='Ukraine':
        return "Eastern Europe"
    else:
        return i

In [30]:
df['region'] = list(map(eastern_europe, df['region']))

In [31]:
df['region'].unique()

array(['World', 'Arab contries', 'Eastern Europe', 'USA and territories',
       'Africa', 'Antarctica', 'Latin America', 'Western Europe',
       'Oceania', 'Asia', 'Canada'], dtype=object)

In [32]:
df2 = df.dropna()

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33305 entries, 0 to 55439
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   33305 non-null  int64
 1   Country                      33305 non-null  object
 2   Energy_type                  33305 non-null  object
 3   Year                         33305 non-null  int64
 4   Energy_consumption           33305 non-null  float64
 5   Energy_production            33305 non-null  float64
 6   GDP                          33305 non-null  float64
 7   Population                   33305 non-null  float64
 8   Energy_intensity_per_capita  33305 non-null  float64
 9   Energy_intensity_by_GDP      33305 non-null  float64
 10  CO2_emission                 33305 non-null  float64
 11  region                       33305 non-null  object
dtypes: float64(7), int64(2), object(3)
memory usage: 3.3+ MB

In [34]:
df2 = df2.drop(columns = ["Unnamed: 0"])

In [35]:
df2.rename(columns = {"region": "Region"}, inplace=True)

In [36]:
df2

,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission,Region
0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547000,4946.627130,World
1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547000,1409.790188,World
2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547000,1081.593377,World
3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547000,2455.243565,World
4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547000,0.000000,World
...,...,...,...,...,...,...,...,...,...,...,...
55434,Zimbabwe,all_energy_types,2019,0.168651,0.143462,37.620400,1.465420e+04,11.508701,4.482962,8.964759,Africa
55435,Zimbabwe,coal,2019,0.045064,0.075963,37.620400,1.465420e+04,11.508701,4.482962,4.586869,Africa
55436,Zimbabwe,natural_gas,2019,0.000000,0.000000,37.620400,1.465420e+04,11.508701,4.482962,0.000000,Africa
55437,Zimbabwe,petroleum_n_other_liquids,2019,0.055498,0.000000,37.620400,1.465420e+04,11.508701,4.482962,4.377890,Africa
55439,Zimbabwe,renewables_n_other,2019,0.068089,0.067499,37.620400,1.465420e+04,11.508701,4.482962,0.000000,Africa

In [38]:
df2.to_csv("./df2.csv")

In [41]:
df2[["Energy_consumption", "Energy_production", "GDP", "Energy_intensity_per_capita", "Energy_intensity_by_GDP", "CO2_emission"]] = df2[["Energy_consumption", "Energy_production", "GDP", "Energy_intensity_per_capita", "Energy_intensity_by_GDP", "CO2_emission"]].round(decimals = 2)

In [42]:
df2

,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission,Region
0,World,all_energy_types,1980,292.90,296.34,27770.91,4.298127e+06,68.15,10.55,4946.63,World
1,World,coal,1980,78.66,80.11,27770.91,4.298127e+06,68.15,10.55,1409.79,World
2,World,natural_gas,1980,53.87,54.76,27770.91,4.298127e+06,68.15,10.55,1081.59,World
3,World,petroleum_n_other_liquids,1980,132.06,133.11,27770.91,4.298127e+06,68.15,10.55,2455.24,World
4,World,nuclear,1980,7.58,7.58,27770.91,4.298127e+06,68.15,10.55,0.00,World
...,...,...,...,...,...,...,...,...,...,...,...
55434,Zimbabwe,all_energy_types,2019,0.17,0.14,37.62,1.465420e+04,11.51,4.48,8.96,Africa
55435,Zimbabwe,coal,2019,0.05,0.08,37.62,1.465420e+04,11.51,4.48,4.59,Africa
55436,Zimbabwe,natural_gas,2019,0.00,0.00,37.62,1.465420e+04,11.51,4.48,0.00,Africa
55437,Zimbabwe,petroleum_n_other_liquids,2019,0.06,0.00,37.62,1.465420e+04,11.51,4.48,4.38,Africa
55439,Zimbabwe,renewables_n_other,2019,0.07,0.07,37.62,1.465420e+04,11.51,4.48,0.00,Africa

In [44]:
df2.to_csv("./df3.csv")